<!--The content below is only a placeholder and can be replaced.-->
<header class="dofc-header">
  <h1>Deck of Cards</h1>
</header>
<div class="dofc-showhide">
  <div *ngFor="let card of pcCards" class="dofc-showlist">
    <label>
      <input type="checkbox" [checked]="card.show" (change)="card.show = !card.show"/>
      {{card.displayLabel}}
    </label>
  </div>
</div>
<div class="dofc-showhide">
  <app-card-item *ngFor="let card of pcCards" class="{{card.show ? '' : 'hide'}}" [card]="card.name"></app-card-item>
</div>
